<html ng-app="wrightsAtHome">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <style>
        .ng-hide {
            display: none !important;
        }
    </style>
    <title ng-bind="title">Wrights at Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- inject:css -->
    <!-- endinject -->

    <link rel="icon" type="image/png" href="img/icon.png"/>
</head>
<body>

<div class="header">
    <div class="container-fluid">
        <h1>Wrights at Home</h1>
    </div>
</div>


<div class="content" ng-controller="mainCtrl as main">

    <accordion class="main-accordion" close-others="false">
        <accordion-group is-open="main.dashboardOpen">

            <accordion-heading>
                Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.dashboardOpen, 'glyphicon-chevron-right': !main.dashboardOpen}"></i>
            </accordion-heading>

            <div class="dashboard-container">

                <div class="dashboard-sensor-container">

                    <div class="dashboard-sensor-heading">
                        <h2>Current</h2>
                        <h2>Conditions</h2>
                    </div>

                    <div class="dashboard-sensor" ng-repeat="sensor in main.sensors">
                        <img class="dashboard-icon" ng-src="{{ sensor.SmallImageUrl }}"/>
                        <div class="dashboard-sensor-body">
                            <h4 class="dashboard-sensor-name">{{ sensor.Name }}</h4>
                            <h4 class="dashboard-sensor-reading" ng-bind-html="sensor.ReadingDisplayText()"></h4>
                        </div>
                    </div>

                </div>

                <div class="dashboard-device-container">
                    <div class="dashboard-device" ng-repeat="device in main.devices" ng-controller="dashboardCtrl as dashboard">
                        <img class="dashboard-device-icon" ng-src="{{ device.SmallImageUrl}}"/>
                        <div class="dashboard-device-body">
                            <h4 class="dashboard-device-name">{{ device.Name }}</h4>
                            <p class="dashboard-device-event">Next Event: <span class="dashboard-device-event-desc">{{ device.NextEvent }}</span></p>
                        </div>
                        <input class="dashboard-device-button" bs-switch ng-model="device.IsOn" ng-change="dashboard.ChangeDeviceState(device.Id, device.IsOn)" type="checkbox" switch-off-color="danger" statechange>
                    </div>

                </div>
            </div>
        </accordion-group>

        <div ng-repeat="device in main.devices" ng-controller="scheduleCtrl as schedule">
            <accordion-group is-open="schedule.scheduleOpen">
                <accordion-heading>
                    {{ device.Name }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': schedule.scheduleOpen, 'glyphicon-chevron-right': !schedule.scheduleOpen}"></i>
                </accordion-heading>
            </accordion-group>
        </div>

    </accordion>

</div>

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
