<!DOCTYPE html>
<html ng-app="wrightsAtHome">
<head>
    
    <meta charset="utf-8" />
    <title>Wrights at Home</title>
    
    <!--  Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!--  CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap-switch.min.css" />

</head>
<body>
    
    <div class="header">
        <div class="container-fluid">
            <h1>Wrights at Home</h1>
        </div>
    </div>


    <div class="content" ng-controller="mainCtrl as main">

        <accordion class="main-accordion" close-others="false">
            <accordion-group is-open="main.dashboardOpen">
                
                <accordion-heading>
                    Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.dashboardOpen, 'glyphicon-chevron-right': !main.dashboardOpen}"></i>
                </accordion-heading>      
                
                <div class="dashboard-container">
                    
                    <div class="dashboard-sensor-container">
                        
                        <div class="dashboard-sensor-heading">
                            <h2>Current</h2>
                            <h2>Conditions</h2>
                        </div>

                        <div class="dashboard-sensor" ng-repeat="sensor in main.sensors">
                            <img class="dashboard-icon" ng-src="{{ sensor.SmallImageUrl }}" />
                            <div class="dashboard-sensor-body">
                                <h4 class="dashboard-sensor-name">{{ sensor.Name }}</h4>
                                <h4 class="dashboard-sensor-reading" ng-bind-html="sensor.ReadingDisplayText()"></h4>
                            </div>
                        </div>

                    </div>

                    <div class="dashboard-device-container">
                        <div class="dashboard-device" ng-repeat="device in main.devices" ng-controller="dashboardCtrl as dashboard">
                            <img class="dashboard-device-icon" ng-src="{{ device.SmallImageUrl}}" />
                            <div class="dashboard-device-body">
                                <h4 class="dashboard-device-name">{{ device.Name }}</h4>
                                <p class="dashboard-device-event">Next Event: <span class="dashboard-device-event-desc">{{ device.NextEvent }}</span></p>
                            </div>
                            <input class="dashboard-device-button" bs-switch ng-model="device.IsOn" ng-change="dashboard.ChangeDeviceState(device.Id, device.IsOn)" type="checkbox" switch-off-color="danger" statechange>
                        </div>

                    </div>
                </div>
            </accordion-group>

            <div ng-repeat="device in main.devices" ng-controller="scheduleCtrl as schedule">
                <accordion-group is-open="schedule.scheduleOpen">
                    <accordion-heading>
                        {{ device.Name }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': schedule.scheduleOpen, 'glyphicon-chevron-right': !schedule.scheduleOpen}"></i>
                    </accordion-heading>
                </accordion-group>
            </div>

        </accordion>

    </div>

    <!--  Scripts -->
    <!--  Bootstrap-Switch -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/bootstrap-switch.min.js"></script>

    <!--  Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>

    <!--  Restangular -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>

    <!--  Angular Bootstrap-Switch -->
    <script type="text/javascript" src="script/angular-bootstrap-switch.min.js"></script>

    <!--  UI-Bootstrap -->
    <script src="script/ui-bootstrap-tpls-0.13.0.min.js"></script>

    <!--  App -->
    <script src="script/app.min.js"></script>

</body>
</html>